@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:wght@400;900&family=Source+Sans+3:wght@300;400&display=swap');
/* Width of the scrollbar (if supported) */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	max-height: 100vh; /* Set maximum height equal to viewport height */
	overflow-y: clip; /* Add a vertical scrollbar when content overflows */
}

h1 {
	font-size: 1.8rem !important;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 3rem !important;
	margin-bottom: 1.1rem !important;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 1.8rem !important;
}

p {
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

ul {
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
}

ul li:hover {
	color: coral;
}
a {
	font-size: 1.2rem;
}
footer {
	background: #83bcc5;
}
button {
	background-color: #83bcc5 !important;
	transition: ease-in-out 0.3s;
}
button:hover {
	background-color: #bae7ee !important;
	color: #807e7e;
}
ul.active {
	transform: translateX(0) !important;
}

#signin-form label {
	font-size: 1.2rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	margin-right: 10px;
}
#signin-form input {
	font-size: 1.2rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	border: #807e7e 1px solid;
	border-radius: 5px;
}
#signin-form label:nth-child(3) {
	margin-left: 10px;
}
#signin-form button {
	font-size: 1.2rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	border: #807e7e 1px solid;
	border-radius: 5px;
	padding: 3px 10px;
	margin-left: 20px;
}
#google {
	font-size: 1.4rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	border: #807e7e 1px solid;
	border-radius: 5px;
	padding: 3px 10px;
	margin-top: 10px;
}
#signout-btn {
	font-size: 1.2rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 300;
	border: #807e7e 1px solid;
	border-radius: 5px;
	padding: 3px 10px;
	margin-top: 20px;
}
