---
import moment from 'moment';
import '../styles/global.css';
---

<footer class="footer">
	<div class="max-w-7xl w-full m-auto py-2">
		<div class="text-center">
			<strong>{moment().format('YYYY')}</strong>
			<a href="http://www.technoexponent.com/" target="_blank"> Hound hub</a>. All Rights Reserved.
		</div>
	</div>
</footer>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora:wght@500&family=Merriweather+Sans:wght@800&display=swap');
</style>
